#intro {
    background-image: url(../Assets/Images/Background_Intro.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-block: 120px 183px;
    position: relative;
}

#info {
    width: 1040px;
    margin: auto;

    >img {
        position: absolute;
        width: 32px;
        height: 32px;
        bottom: 57px;
        left: 50%;
        margin-left: -16px;
        margin-bottom: -16px;
    }
}

header {
    width: 680px;
    margin: 0 auto 8px;
    text-align: center;
}

.about {
    margin-block: 56px 80px;
    p {
        font: var(--sub-title);
        color: var(--gray-500);

        span {
            color: var(--red);
        }
    }

    h1 {
        font: var(--title-lg);
        color: var(--gray-600);
        margin-block: 8px 20px;
    }

    :nth-child(3){
        font: var(--text-sm);
        color: var(--gray-400);
    }
}

.avatar {
    width: 112px;
    height: 112px;
    position: relative;
    margin: auto;

    :first-child{
        width: 96px;
        height: 96px;
        margin: 7px;
    }

    :last-child{
        position: absolute;
        width: 31px;
        height: 25px;
        right: 2.5px;
        bottom: 5.5px;
    }
}

#tags {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;

    a {
        display: flex;
        align-items: center;
        gap: 8px;
        padding: 8px 16px;
        background: var(--gray-300);
        border-radius: 999px;

        span {
            font: var(--text-md);
            color: var(--gray-500);
        }
    }
}

