main {
    background-color: var(--gray-200);
    padding-block: 72px 144px;
    header {
        span{
            font: var(--sub-title);
            color: var(--red);
        }
        h3 {
            font: var(--title-md);
            color: var(--gray-600);
            padding-block: 8px 56px;
        }
    }
#projects {
    width: 1040px;
    margin: auto;
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 24px;
    
    div {
        width: 330px;
        margin: auto;
        padding: 12px 12px 17px 12px;
        border-radius: 12px;
        background-color: var(--gray-300);
    }

}

#projects div {
    img {
        width: 306px;
        height: 156px;
        object-fit: cover;
        align-self: center;
        border-radius: 8px;
    }

    h4 {
        font: var(--text);
        color: var(--gray-600);
        margin: 24px 4px 8px 4px;
    }
    p {
        font: var(--text-sm);
        color: var(--gray-500);
        margin: 0 4px 4px 4px;
    }
}